body {
  position: relative;
  width: 1440px;
  height: 900px;

  background: rgba(198, 238, 255, 0.58);
}

ul {
  position: relative;
  left: 20px;
  top: 100px;
  width: 700px;
  height: 170px;
}

li {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 35px;
}

.search-div{
  position: absolute;
  width: 555px;
  height: 59px;
  left: 442px;
  top: 61px;
  background: #F4FDFF;
  border-radius: 30px;
}
#search-box{
  position: relative;
  width: 313px;
  height: 38px;
  left: 100px;
  top: 10px;
  background: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  outline: none;
  text-align: center;

  color: black;
  border: 0;
}
#suggestions{
  position: relative;
  border-top: 2-x solid rgba(255, 255, 255, 0);
  background-color: #1e4dd4;
}

#suggestions > div{
  padding:  15px;
  font-size: 20px;
  color: #fff;
  border-top: 1-x solid #999;
  background-color: #1e4dd4;
  cursor: pointer;
}

#suggestions > div:hover {
  background-color: #1e4dd4;
}

.total-cases{
  position: absolute;
  width: 323px;
  height: 215px;
  left: 61px;
  top: 167px;

  background: #FAECFB;
  border-radius: 30px;
}
#total-text{
  position: absolute;
  width: 156px;
  height: 53px;
  left: 96px;
  top: 22px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;

  color: #000000;

}

#total-number{
  position: absolute;
  width: 133px;
  height: 43px;
  left: 96px;
  top: 102px;

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;

  color: #000000;
}

.death-div{
  position: absolute;
  width: 323px;
  height: 215px;
  left: 543px;
  top: 167px;

  background: #FBECEC;
  border-radius: 30px;
}

#death-text{
  position: absolute;
  width: 156px;
  height: 53px;
  left: 96px;
  top: 22px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;

  color: #000000;
}

#death-number{
    position: absolute;
    width: 133px;
    height: 43px;
    left: 116px;
    top: 102px;

    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}
.covid-sign{
  position: absolute;
  width: 358px;
  height: 215px;
  left: 1002px;
  top: 167px;

  background: skyblue;
  border-radius: 30px;
}

.news-div{
  position: absolute;
  width: 820px;
  height: 366px;
  left: 57px;
  top: 439px;

  background: #FFF8F1;
  border-radius: 30px;
}
.readmore-div{
  position: absolute;
  width: 358px;
  height: 377px;
  left: 1002px;
  top: 439px;

  background:lavender;
  border-radius: 30px;
}

#news-title{
  position: absolute;
  width: 85px;
  height: 53px;
  left: 350px;
  top: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;

  color: #000000;
}

#vaccine-alert-page-text {
  position: relative;
  width: 300px;
  height: 53px;
  left: 25px;
  top: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;

  text-align: center;
 
  color: #000000;
}

#sign-up-system {
	position: absolute;
	width: 200px;
	height: 48px;
	left: 75px;
	top: 155px;
	background: white;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 30px;
}

#symptoms-text {
  position: relative;
  width: 200px;
  height: 53px;
  left: 75px;
  top: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;

  text-align: center;
 
  color: #000000;
}

#symptoms-pic {
  position: relative;
  width: 150px;
  height: 150px;
  left: 95px;
	top: 30px;
}

#readmore-button {
	position: absolute;
	width: 200px;
	height: 48px;
	left: 75px;
	top: 315px;
	background: white;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 30px;
  
}

button {
	position: absolute;
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 36px;
}

#readmore-button:hover {
  background-color: #a6a6ed;
}

#sign-up-system:hover {
  background-color: #0099cc;
}